<div>
  <button (click)="loadDetail()"><b>+</b> load more</button>
  <button (click)="printInfo()" *ngIf="!isProd">{{!displayJson ? 'show' : 'hide'}} json info</button>
</div>

<div *ngFor="let item of itemDetails; index as idx" >
  <i>{{idx+1}}</i>. {{item.title}} (<a href="{{item.url}}" target="_new">{{getLocation(item.url)}}</a>)
  <br><div style="padding-left: 20px"><i>{{item.text}}</i></div>
</div>
<br>


<div *ngIf="displayJson">
  <hr>
  <h3>Info json</h3>
  <pre>
    {{itemDetails | json}}
  </pre>
</div>
